.no_mobile {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 200vh;
  width: 100%;
  background-color: tomato;
  top: 0px;
  font-size: 32px;
  color: white;
}
.no_mobile span {
<<<<<<< Updated upstream
  margin-top: 500px;
}

@media screen and (max-width: 380px) {
=======
  margin-top: 200px;
}

@media screen and (max-width: 577px) {
>>>>>>> Stashed changes
  .no_mobile {
    display: none;
  }
}
