.update__profile-list img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.update__profile {
  border-top: var(--titleBar);
}

.update__profile-title > span {
  font-size: var(--subTitleFontSize);
  display: block;
  padding: var(--subTitlePadding);
}
.update__profile-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--opacityColor);
}

.update__profile {
  margin: var(--mainMargin);
}

.update__profile-lists {
  display: flex;
}
.update__profile-list {
  font-size: 13px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
}
